.redes {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2vw; }
	.redes .redes__icono {
	  padding: 0 1vw 0 0; }
	  .redes .redes__icono:hover {
		transform: scale(1.5);
		transition: 1.5s; }
  
  
