.redes {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2vw;
	.redes__icono {
		padding: 0 1vw 0 0;
		&:hover {
			transform: scale(1.3);
			transition: 0.5s;
		}
	}
}
  
  
