h1 {
	font-family: 'Sacramento', cursive;
	font-weight: normal;
	font-size: 3rem;
	font-style: unset;
	color: #ed1c24;
	text-align: center;
	text-transform: capitalize;
	line-height: 50px;
	text-decoration: none;
	word-spacing: 15px;
	padding-bottom: 2vw; }
  
  h2 {
	color: #ed1c24; }
  
  h3 {
	color: #ed1c24; }
  
  h4 {
	color: #ed1c24; }
  
  #h2Servicios {
	padding-top: 3rem;
	padding-bottom: 2rem;
	text-align: center; }
  
  legend{
	font-size: 2rem;
	text-align: center;
  }
  .form-group{
	font-size:1.5rem;
  }
  .form-control{
	font-size: 1.5rem;
  }
  
  p {
	color: white; }
  
  a {
	font-size: 1.5rem;
	text-decoration: none;
	color: #bd349f; }
	a:hover {
	  color: #00a4e6; }
  